@media all and (max-width: 1440px){

/*    --------------------------    about me ---------------------------*/

    .About {
        height: 125vh;
    }

    body>main>section:nth-child(2)>div:nth-child(3) {
        position: absolute;
        bottom: 40vh;
    }

    #footer_of_site {
        margin-top: 17.3vh;
    }


}


@media all and (max-width:1024px){


    /*------------------------------- main ---------------------------------*/
    .SubImage{
        height: 50%;
    }
    #SubImg{
        width:425px;
        height:500px;

    }

    .Article{
        top: 41vh;
    }

    div.Article>div:nth-child(1){
        font-size: 30px;
    }

    div.Article>div:nth-child(2){
        font-size: 30px;
    }

    div.Article>div:nth-child(3){
        font-size: 30px;
    }



    /*    ------------------------------------- about me ---------------------------*/

    .About{
        height: 120vh;
    }
    .AboutPhoto{
        top: 7vh;
    }
    body>main>section:nth-child(2)>div:nth-child(3){
        bottom: 36vh;
    }



    /*    ------------------ education -----------------------*/

    .education>.box-container{
        padding-right: 0;
    }

    .assignmentButton{
        bottom: 1vh;

    }


    /*    --------------------- gallery -------------------------*/

    .Gallery>.images>div{
        height: 350px;
        width: 230px;
    }


    /*    --------------------- contact --------------------------*/

    form.Contact {
        padding: 0px;
        width: 35vw;
    }



    /*    ------------------ footer --------------------------*/

    #copyRight{
        height: 14vh;
    }
    #footer_of_site {
        margin-top: 17.3vh;
    }
}



@media all and (max-width:768px){

    /*----------- header ------------*/
    .topNav{
        right: 0;
        margin: 3px;
        top: 27px;

    }


    /*    --------------------------  main -------------------*/
    div.Article>div:nth-child(3){
        font-size: 22px;
        bottom: 10vh;
    }

    #SubImg{
        width: 370px;
        height: 456px;

    }


    /*    ---------------------- about me -------------------*/

    .Information{
        top: 113px;
        font-size: 20px;
    }

    #AboutImg{
        width: 303px;
        height: 367px;
        top: 5vh;
    }

    body>main>section:nth-child(2)>div:nth-child(3){
        bottom: 42vh;
    }

    .Paragraph{
        font-size: 22px;
    }


    /*    ---------------------------- education ------------------------*/

    .education{
        height: 150vh;
    }

    .education .box-container{
        padding-left: 8rem;
        padding-top: 4rem;
    }

    .education .box-container .box {
        margin: 2rem 1rem;
    }



    /*    -----------------------------  skills --------------------------*/

    .certificate{
        flex-wrap: wrap;
    }

    #languageHeader{
        top: 89vh;
    }

    .languages{
        top: 95vh;
    }

    #toolHeader{
        bottom: 35vh;
    }

    .tools{
        top: 137vh;
    }


    /*   -------------------------- Projects ------------------------*/

    .projects{
        height: 175vh;
    }
    #discription {
        top: 66vh;
        left:40%;
    }

    #goGitHub{
        top: 72vh;
    }

    .assignmentTitle{
        top: 12vh;
    }

    .assignmentImages{
        top: 21vh;
    }

    .assignmentButton{
        top: 80vh;
        left: 48%;
    }


    .images{
        position: relative;
        height: 600px;
        width: 600px;
        left: 10vw;
        display: grid;
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(3,1fr);
        grid-gap: 2px;
    }

    .images>div{
        border: 1px solid blue;
    }


    /*--------------------- footer --------------------------*/

    #Contact{
        width: 30%;
    }

    #ContactSubHead{
        left: 34vw;
    }

    .contactInfo{
        top: 28vh;
        left: 27vw;
    }

    #chatBox{
        top: 86vh;
        right: 40vw;
    }

    form.Contact{
        width: 46vw;
    }



    #footer_of_site {
        margin-top: 75.3vh;
    }

}



@media all and (max-width: 425px) {

    body > main {
        top: 161px;
    }

    /*------------------------------ header ---------------------*/
    h1 {
        font-size: 4em;
        margin: 0.67em 0;
    }

    .topNav {
        top: 111px;
        right: 29px;
    }


    /*-----------------------------  home page -------------------*/
    main > section > section > div#MainImage {
        width: 150%;
    }


    #SubImg {
        right: -45vw;
        top: 2vh;
    }

    .Article {
        top: 45vh;
        height: 20vh;
        width: 94vw;
    }

    div.Article > div:nth-child(1) {
        font-size: 40px;
    }

    div.Article > div:nth-child(2) {
        font-size: 40px;
        bottom: 18vh;
    }

    div.Article > div:nth-child(3) {
        font-size: 22px;
        bottom: 8vh;
    }

    .navButton {
        bottom: 13vh;

    }


    /*    ------------------------------ about me ------------------------------*/
    .About {
        height: 135vh;
    }

    .AboutHead {
        width: 50%;
    }

    #AboutImg {
        width: 203px;
        height: 301px;
        left: 1vw;
    }

    body > main > section:nth-child(2) > div:nth-child(3) {
        bottom: 57vh;
    }

    .Paragraph {
        font-size: 22px;
        left: 10vh;
        text-align: center;
        width: 130vw;
        bottom: 18vh;
    }


    /*    ------------------------------------------ education ----------------------------*/
    education {
        height: 160vh;
    }

    .educationHead {
        width: 50%;
    }


    /*    ----------------------------- skill ----------------------------------------------*/
    .Skills {
        height: 290vh;
    }

    .SkillHead {
        width: 40%;
        top: 13vh;
    }


    .certificate {
        top: 29vh;
        left: 22vw;
    }

    .certificate > div {
        height: 302px;
        width: 430px;
    }

    #languageHeader {
        top: 185vh;
    }

    .languages {
        top: 197vh;
        left: 25vw;
    }


    #toolHeader {
        bottom: 55vh;
    }

    .tools {
        top: 242vh;
        left: 10vw;
        flex-wrap: wrap;
    }

    /*----------------------------------  project --------------------------*/
    .projects {
        top: 19vh;
        height: 460vh;
    }

    .projectHeader {
        width: 50%;
    }

    .projectSection {
        flex-wrap: wrap;
    }

    .projectImages {
        left: 40vw;
    }

    .projectImages > a > img {
        width: 277px;
        height: 345px;
    }

    #discription {
        top: 194vh;
        font-size: 16px;
    }

    #goGitHub {
        top: 200vh;
    }

    .assignmentTitle {
        top: 148vh;
    }

    .assignmentImages {
        top: 160vh;
        left: 42vw;
    }

    .assignmentImages > a > img {
        width: 277px;
        height: 345px;
    }

    .assignmentButton {
        top: 337vh;
        left: 50%;
    }


    /*    ----------------------------- Gallery ------------------------------------*/
    .Gallery {
        height: 90vh;
    }

    #galleryHead {
        width: 50%;
    }

    .images {
        left: 4vw;
        height: 78vh;
    }

    .Gallery > .images > div {
        height: 445px;
        width: 227px;
    }


    /*    ----------------------   contact ------------------------*/
    #Contact {
        width: 50%;
    }

    #ContactSubHead {
        font-size: 34px;
    }

    #ContactDetail > label {
        margin-left: 16vw;
        font-size: 26px;
    }

    form.Contact {
        width: 89vw;
    }

    Contact > label {
        font-size: 20px;
    }

    .send {
        margin-top: 1vh;
    }

    #chatBox {
        top: 86vh;
        right: 40vw;
        margin-top: 10px;
    }


    /*    -------------------------------------- footer ----------------------------------*/
    #footer_of_site {
        margin-top: 86.3vh;
    }

    footer {
        width: 636px;
    }
}

    @media all and (max-width: 375px){



    /*    ---------------------------------  home page ---------------------*/
        main>section>section>div#MainImage {
            width: 170%;
        }

        #SubImg {
            right: -62vw;
        }

        .navButton {
            bottom: 7vh;
        }

        main>section.homePage>div.navButton>img {
            margin: 15px;
        }



    /*    --------------------------  about me ------------------------------*/

        #AboutImg {
            left: 14vw;
        }

        .Paragraph {
            font-size: 20px;
            left: 8vw;
            bottom: 21vh;
            width: 151vw;
        }

        body > main > section:nth-child(2) > div:nth-child(3) {
            bottom: 50vh;
        }


    /*    -------------------------------------  education ----------------------------*/

        .education {
            height: 170vh;
        }




        /*----------------------------------------  contact ---------------------------*/
        form.Contact {
            width: 93vw;
        }

        #chatBox {
            top: 86vh;
            right: 41vw;
            margin-top: 10px;
        }

    }


@media all and (max-width: 320px){
    /*------------------------------- main --------------------------------*/
    main>section>section>div#MainImage {
        width: 200%;
    }

    #SubImg {
        right: -96vw;
    }

    .navButton {
        bottom: 10vh;
        width: 106vw;
    }


/*    -------------------------------  about --------------------------------*/

    .Information {
        top: 113px;
        font-size: 20px;
        width: 117vw;
    }

    #AboutImg {
        left: 34vw;
        top: 11vh;
    }



/*    ---------------------------------- education ----------------------------------*/
    .education {
        height: 186vh;
        left: 15vw;
    }


/*    ---------------------------------- skill -------------------------------------*/

    .certificate {
        left: 42vw;
    }


    #languageHeader {
        left: 67vw;
    }

    .languages {
        left: 53vw;
    }

    #toolHeader {
        left: 82vw;
    }

    .tools {
        left: 43vw;
    }




    /*-------------------------------------- projects ----------------------------------*/
    #projectTitle {
        top: 6vh;
        left: 60%;
    }

    .projectImages {
        left: 57vw;
    }

    #discription {
        font-size: 20px;
        width: 109vw;
    }

    #goGitHub {
        top: 200vh;
        left: 68vw;
    }
    #goGitHub>h4{
        width: 41vw;
    }

    #goGitHub>h4>span{
        font-size: 20px;
    }


    .assignmentTitle {
        left: 46vw;
    }

    .assignmentImages {
        left: 53vw;
    }

    .assignmentButton {
        left: 60%;
    }


/*    ---------------------------------------  contact ---------------------------------------*/

    #Contact {
        width: 60%;
    }
    #ContactSubHead>h3{
        width: 105vw;
    }
    form.Contact {
        width: 111vw;
    }

    #chatBox {
        margin-top: 82px;
        right: 30vw;
        /* margin-bottom: 56px; */
    }

#NavButtons{
    margin-top: 5vh;
}


/*    ------------------------------------------------footer -----------------------------------*/

    #footer_of_site {
        margin-top: 96.3vh;
    }
}
