
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    /*font-family: 'Ubuntu', sans-serif;*/
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body{
    width: 100%;
    position: relative;
}


/*--------------------------------------------- header -------------------------------------------*/
header{
    box-shadow:4px 1px 4px 0px black;
    background-color: black;
    /*border: 1px solid white;*/
    position: absolute;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;

}

body>header>h1{
    color: white;
}

.topNav{
    position: absolute;
    right: 20px;
    top: 7px;
    font-family: Rockwell;
    /*border: 1px solid black;*/
    margin: 20px;
    color: black;
}

.topnav-btn::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: blue;
    transition: width 0.3s ease-in-out;
}

.topnav-btn:hover::after {
    width: 100%;
}

header>.topnav>a {
    color: white;
    text-decoration: none;
    transition: all 0.2s ease;
}


.hoverText {
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

/* hover state */
.hoverText:hover {
    font-weight: bold;
    transform: scale(1.2);
}

/* Underline Text */
.topnav-btn {
    position: relative;
    display: inline-block;
    padding-bottom:5px;
}



a{
    color: white;
    text-decoration: none;
    transition: all 0.2s ease;
    font-size: 18px;
    margin: 5px;
}



/*.topnav>i>a:hover{*/
/*    transform: scale(1.08);*/
/*}*/


/*--------------------------------- Home Page ----------------------------------------------------------*/

body {
    position: relative;
    width: 100%;
    margin: 0;

}

body > main{
    position: relative;
    width: 100%;
    top: 81px;
}


.homePage{
    width: 100%;
    height: 100vh;
    position: relative;
}


main>section>section>div#MainImage{

    background-image: url("../image/main.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    filter: opacity(0.5) drop-shadow(0 0);

  }

.SubImage{
    position: absolute;
    right: 0;
    top: 50px;
    height: 90%;

}

#SubImg{
    position: absolute;
    width:433px;
    height:547px;
    right: 0;
}
main>section>{

    top: 85px;
    border: 2px solid black;
    position: relative;
}

.Article{
    position: absolute;
    width: 53vw;
    height: 250px;
    z-index: 1;
    bottom: 206px;
    left: 8vw;
}


div.Article>div:nth-child(1){
    position: absolute;
    color: white;
    font-family: Koulen, Rockwell;
    font-size: 50px;
    bottom: 300px;
    left: 3vw;

}

div.Article>div:nth-child(2){
    position: absolute;
   left: 5vw;
    color: white;
    font-family: Koulen, Rockwell;
    font-size: 50px;
    bottom: 170px;
}

div.Article>div:nth-child(3){
    position: absolute;
    bottom: 25px;
    font-size: 36px;
    font-family: Koulen, Rockwell;
    right: 70px;
}


.navButton{
    position: absolute;
    z-index: 2;
    bottom: 4vh;
    left: 10vw;
    border-radius: 100%;
}
.navButton>img:hover{
    transform: scale(1.08);
}

main>section.homePage>div.navButton>img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 20px;
    background:100%;

}

.tranc {
    overflow-x: hidden;
}

.text {
    font-weight: bold;
    animation-name: rightToLeft;
    animation-duration: 4.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 1s;

    /* animation: rightToLeft 4.5s linear infinite; */
}

@keyframes rightToLeft {
    0% {
        transform: translateX(200px);
    }
    100% {
        transform: translateX(-160px);
    }
}



/*------------------------------------------ About Me -------------------------------------------------------------*/

.About{
    width: 100%;
    height: 100vh;
    position: relative;
    /*margin-top: 126px;*/
    /*border: 1px solid black;*/
    border-top: 5vh solid gray;

}

.AboutHead{
    position: absolute;
    top: 0;
    margin: 0;
    background: black;
    color: white;
    height: 50px;
    width: 20%;
    font-family: Koulen, Rockwell;
    font-size: 30px;
    border-radius: 50px;
    text-align: center;


}

.AboutPhoto{
    position: absolute;
    right: 0;
    top: 2vh;
    /*border: 1px solid black;*/
    /*background: linear-gradient(to right, #f6f8f8, #36393e);*/
}
#AboutImg{
    position: absolute;
    width:419px;
    height:428px;
    right: 0;
    background: linear-gradient(to right, #f6f8f8, #36393e);
}
.Information{
    position: absolute;
    left: 20px;
    top: 65px;
    font-family: Koulen, Rockwell;
    font-size: 30px;
    border-left: .2rem solid blue;
}

.Information>li{
    margin: 20px;

}
.Information>li>span{
    color:blue;
}

body>main>section:nth-child(2)>div:nth-child(3){
    position: absolute;
    bottom: 30vh;
    left: 45px;

}

body>main>section:nth-child(2)>div:nth-child(3)>img{
    margin: 20px;
}

.Paragraph{
    position: absolute;
    bottom: 15vh;
    left: 45px;
    font-family: Koulen, Rockwell;
    font-size: 24px;
    border-left: .2rem solid blue;

}



.DownloadButton{
    position: absolute;
    bottom: 40px;
    right: 30px;

    color: white;
}


/*------------------------------------------ Education ------------------------------------------------------------*/
.education{
    width: 100%;
    height: 100vh;
    position: relative;
    border-top: 5vh solid gray;

}

.educationHead{
    position: absolute;
    top: 0;
    margin: 0;
    background: black;
    color: white;
    height: 50px;
    width: 20%;
    font-family: Koulen, Rockwell;
    font-size: 30px;
    border-radius: 50px;
    text-align: center;
}
.education>.box-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding:3rem 0;
    padding-top: 6rem;
    padding-left: 6rem;
    padding-right: 5rem;

}

.education .box-container .box{
    width:27rem;
    margin:4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid blue;
    position: relative;
}

.education .box-container .box span{
    font-size: 1.3rem;
    background:blue;
    color:#fff;
    border-radius: 5rem;
    padding:.5rem 2.5rem;
}

.education .box-container .box h3{
    font-size: 1.5rem;
    padding-top: 1.5rem;
}

.education .box-container .box p{
    font-size: 1rem;
    font-family: Koulen, Rockwell;
    padding: 1rem 0;
}

.education .box-container .box i{
    position: absolute;
    top:-1.5rem; left:-2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    background: white;

}





/*------------------------------------------ Skills -----------------------------------------------------------------*/

.Skills{
    width: 100%;
    height: 170vh;
    position: relative;
    border-top: 5vh solid gray;


}

.SkillHead{
    position: absolute;
    top: 0;
    margin: 0;
    background: black;
    color: white;
    height: 50px;
    width: 20%;
    font-family: Koulen, Rockwell;
    font-size: 30px;
    border-radius: 50px;
    text-align: center;


}

.certificate{
    /*border: 1px solid black;*/
    top: 20vh;
    flex-shrink: 1;
    position: relative;
    display: flex;
    justify-content: center;


}


.certificate>div:nth-child(1){
    background-image: url("../image/cert-CT-FYZEUYOC (1).png");
    background-size: cover;
    background-position: center;

}
.certificate>div:nth-child(2){
    background-image: url("../image/cert-CT-OFIWOA82 (1).png");
    background-size: cover;
    background-position: center;
}

.certificate>div:nth-child(3){
    background-image: url("../image/cert-CT-FYZEUYOC (1).png");
    background-size: cover;
    background-position: center;
}

.certificate>div{
    height: 200px;
    width: 300px;
    box-shadow:4px 1px 4px 0px #2b2a2a;
    border: 1px solid blue;

}

.certificate>div:hover{
    transform: scale(1.08);

}

.Skills>section:nth-child(2)>h3{
    font-family: Koulen, Rockwell;
    font-size: 30px;

}
.languages{
    /*border: 1px solid black;*/
    position: absolute;
    width: 100%;
    top: 76vh;
    display: flex;
    justify-content: space-evenly;
}


.languages>img{
    margin: 20px;
    box-shadow:4px 1px 4px 0px #2b2a2a;

}

.languages>img:hover{
    transform: scale(1.08);
}

#languageHeader{
    position: absolute;
    left: 48%;
    top: 65vh;
    font-family: Koulen, Rockwell;
    font-size: 30px;
}


.tools{
    display: flex;
    justify-content: space-evenly;
    /*border: 1px solid black;*/
    position: absolute;
    top: 120vh;
    width: 100%;
}

#toolHeader{
    position: absolute;
    left: 50%;
    bottom: 55vh;
    font-family: Koulen, Rockwell;
    font-size: 30px;
}

.tools>img{

    box-shadow:4px 1px 4px 0px #2b2a2a;
    margin: 20px;

}
.tools>img:hover{
    transform: scale(1.08);
}

.Skills>section:nth-child(3)>h3{
    font-family: Koulen, Rockwell;
    font-size: 30px;

}

/*-------------------------------------------- Projects ------------------------------------------------------------*/

.projects{
    width: 100%;
    height: 160vh;
    position: relative;
    border-top: 5vh solid gray;
}

.projectHeader{
    position: absolute;
    top: 0;
    margin: 0;
    background: black;
    color: white;
    height: 50px;
    width: 20%;
    font-family: Koulen, Rockwell;
    font-size: 30px;
    border-radius: 50px;
    text-align: center;

}

.projectSection{
    position: relative;
    height: 75vh;
    top: 5vh;
    /*border: 1px solid black;*/
    display: flex;
    justify-content: center;
}

#projectTitle{
    position: absolute;
    top: 6vh;
    left: 50%;
}
#projectTitle>span{
    color: blue;
}

/*.projectImages{*/
/*    position: absolute;*/
/*    top: 15vh;*/


/*}*/

/*.projectImages>a>img{*/
/*    box-shadow:4px 1px 4px 0px #2b2a2a;*/
/*    border: 1px solid blue;*/

/*}*/

#discription{
position: absolute;
    top: 60vh;
    left: 50%;
}

#goGitHub{
    position: absolute;
    top: 65vh;
    left: 50%;
}

#goGitHub>h4>span{
    color: blue;
}

.projectSection .box-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:4rem 0;
}

.projectSection .box-container .box{
    height: 14rem;
    width: 16rem;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    margin:2rem;
}

.projectSection .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.projectSection .box-container .box:hover img{
    transform: scale(1.2);
}

.projectSection .box-container .assignment-title {
    font-size: 20px;
    color: #0c5fed;
    font-weight: 500;
    margin: 10px 0 15px 0;
}




.assignmentSection{
    position: relative;
    height: 75vh;
    top: 5vh;
    display: flex;
    justify-content: center;

}
.assignmentTitle{
    position: absolute;
    top: 5vh;
    left: 50%;
}
.assignmentTitle>span{
    color: blue;
}

/*.assignmentImages{*/
/*    position: absolute;*/
/*    top: 12vh;*/
/*}*/

/*.assignmentImages>a>img{*/
/*    box-shadow:4px 1px 4px 0px #2b2a2a;*/
/*    border: 1px solid blue;*/
/*}*/

.assignmentSection .box-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:4rem 0;

}

.assignmentSection .box-container .box{
    height: 14rem;
    width: 16rem;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    margin:2rem;


}

.assignmentSection .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
    box-shadow:4px 1px 4px 0px #2b2a2a;
}

.assignmentSection .box-container .box:hover img{
    transform: scale(1.2);
}

.assignmentSection .box-container .assignment-title {
    font-size: 20px;
    color: #0c5fed;
    font-weight: 500;
    margin: 10px 0 15px 0;
}


.assignmentButton{
    position: absolute;
    bottom: 5vh;
    left: 50%;
}

.projectImages>a>img:hover{
    transform: scale(1.08);
}

.assignmentImages>a>img:hover{
    transform: scale(1.08);
}
/*#goGitHub>#gitButton:hover{*/
/*    transform: scale(1.08);*/
/*}*/



/*------------------------------------------- Gallery -------------------------------------------------------------*/

.Gallery{
    position: relative;
    height: 100vh;
    width: 100%;
    border-top: 5vh solid gray;

}

#galleryHead{
    position: absolute;
    top: 0;
    margin: 0;
    background: black;
    color: white;
    height: 50px;
    width: 20%;
    font-family: Koulen, Rockwell;
    font-size: 30px;
    border-radius: 50px;
    text-align: center;
}

.Gallery>.images{
    /*border: 1px solid black;*/
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10vh;
    height: 80vh;
}

.images>div:nth-child(1){
    background-image: url("../image/Galary2.jpeg");
    background-size: cover;
    background-position: center;
}

.images>div:nth-child(2){
    background-image: url("../image/Galary4.jpeg");
    background-size: cover;
    background-position: center;
}

.images>div:nth-child(3){
    background-image: url("../image/kavishka.jpg");
    background-size: cover;
    background-position: center;
}

.images>div:nth-child(4){
    background-image: url("../image/Galary3.jpeg");
    background-size: cover;
    background-position: center;
}


.images>div{
    border: 1px solid black;
    box-shadow:4px 1px 4px 0px #2b2a2a;
    height: 400px;
    width: 300px;
}

.images>div:hover{
    transform: scale(1.08);
}


/*------------------------------------------- Contact ---------------------------------------------------------------*/
.contact{
    position: relative;
    top: 85px;
    height: 100vh;
    width: 100%;
    border-top: 5vh solid gray;
}

#Contact{
    position: absolute;
    top: 0;
    margin: 0;
    background: black;
    color: white;
    height: 50px;
    width: 20%;
    font-family: Koulen, Rockwell;
    font-size: 30px;
    border-radius: 50px;
    text-align: center;
}

#chatBox{
    width: 30vw;
    top: 20vh;
    right: 5vw;
    position: absolute;

}


form.Contact {
    padding: 20px;
    width: 30vw;
    /*margin: 0 auto;*/
    color: black;
    position: relative;
}

input#name{
    width: 40%;
    position: absolute;
}
input#email{
    width: 50%;
    left: 50%;
    position: relative;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgb(201, 211, 214);
}
button {
    background-color: #44444C;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 24px;

}

button:hover {
    background-color: blue;
    color: white;
}
.Contact>label{
    margin: 10px;
}

.Contact>input{
    margin: 10px;
}


.contactInfo{
    position: absolute;
    left: 0;
    top: 20vh;
    font-family: Koulen, Rockwell;
    font-size: 20px;
    left: 3vw;
}

#ContactSubHead{
    position: absolute;
    top: 12vh;
    left: 5vw;
    font-family: Koulen, Rockwell;
    font-size: 20px;
}

#ContactSubHead>h3>span{
    color:blue;
    padding:0 .5rem;
}

#ContactDetail>label>b>span{
    color: blue;
}
#ContactDetail>label{
    margin-left: 5vw;
}

#NavButtons>img{
    border-radius: 100%;
    margin: 1vw;
}

/*------------------------------------------------------------ Footer ----------------------------------------------*/

#footer_of_site{
    margin-top: 13.3vh;
    height: 10vh;
    background: rgba(0, 0, 0, 0.82);
    border-top: 3px solid blue;
}

#footer_of_site>p{
    color: white;
    font-family: 'poppins', sans-serif ;
    font-size: 0.9em;
    text-align: center;
    padding-top: 5px;
    margin-top: 5px;
}

/*}*/
/*------------------------------------*/
/*body {*/
/*    overflow-x: hidden;*/
/*}*/

/*------------------------- project html ----------------------*/
.my_Assignment{
    background-color: black;
}
.my_Assignment .box-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:4rem 0;
}

.my_Assignment .box-container .box{
    height: 14rem;
    width: 16rem;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    margin:2rem;
}

.my_Assignment .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.my_Assignment .box-container .box:hover img{
    transform: scale(1.2);
}

.my_Assignment .box-container .assignment-title {
    font-size: 20px;
    color: #f1f3f5;
    font-weight: 500;
    margin: 10px 0 15px 0;
}

.my_Assignment>h1{
    position: absolute;
    left: 40vw;
    color: white;
}

h1>span{
    color: #095cec;
}



/*  Loader  */
#loader {
    transition: opacity 1s;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
}

#loader > div {
    width: 290px;
    height: 290px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: url("../../assets/image/progress-bar.gif");
    background-size: cover;
    background-position: center;
}