
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    /*font-family: 'Ubuntu', sans-serif;*/
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}




/*--------------------------------------------- header -------------------------------------------*/
header{
    box-shadow:4px 1px 4px 0px black;
    background-color: black;
    border: 1px solid white;
    position: relative;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;

}

body>header>h1{
    color: white;
}

.topnav{
    position: absolute;
    right: 20px;
    top: 16px;
    font-family: Rockwell;
    border: 1px solid black;
    margin: 20px;
    color: white;
}

a{
    color: white;
    text-decoration: none;
    transition: all 0.2s ease;
}

.topnav>b{
    margin: 5px;
    transform: scale(1.08);

}


/*--------------------------------- Home Page ----------------------------------------------------------*/

body {
    position: relative;
    width: 100vw;
    margin: 0;
}

body > main{
    position: relative;
    width: 100%;
    top: 85px;
}


.homePage{
    width: 100vw;
    height: 100vh;
    position: relative;
}


main>section>section>div#MainImage{

    background-image: url("../image/main.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    filter: opacity(0.5) drop-shadow(0 0);

  }

.SubImage{
    position: absolute;
    left: 0;
    top: 50px;
    height: 90%;


}

main>section>{

    top: 85px;
    border: 2px solid black;
    position: relative;
}

/*.Article{*/
/*    position: absolute;*/
/*    z-index: 2;*/
/*    bottom: 150px;*/
/*    right: 250px;*/
/*}*/


.Article{
    position: absolute;
    width: 400px;
    height: 250px;
    z-index: 1;
    bottom: 150px;
    right: 250px;
}


div.Article>div:nth-child(1){
    position: absolute;
    color: white;
    font-family: Koulen, Rockwell;
    font-size: 50px;
    bottom: 300px;
    right: 500px;

}

div.Article>div:nth-child(2){
    position: absolute;
    right: 70px;
    color: white;
    font-family: Koulen, Rockwell;
    font-size: 50px;
    bottom: 170px;
}

div.Article>div:nth-child(3){
    position: absolute;
    bottom: 0;
    font-size: 36px;
    font-family: Koulen, Rockwell;
}


.navButton{
    position: absolute;
    z-index: 2;
    bottom: 40px;
    right: 341px;
    border-radius: 100%;
}

main>section.homePage>div.navButton>img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 20px;
    background:100%;

}



/*------------------------------------------ About Me -------------------------------------------------------------*/

.About{
    width: 100vw;
    height: 100vh;
    position: relative;
    /*margin-top: 126px;*/
    /*border: 1px solid black;*/
}

.AboutHead{
    position: absolute;
    top: 0;
    margin: 0;
    background: black;
    color: white;
    height: 50px;
    width: 20%;
    font-family: Koulen, Rockwell;
    font-size: 30px;
    border-radius: 50px;

}

.AboutPhoto{
    position: absolute;
    right: 0;
    top: 20px;
}

.Information{
    position: absolute;
    left: 20px;
    top: 65px;
    font-family: Koulen, Rockwell;
    font-size: 30px;
}

.Information>li{
    margin: 20px;
}

body>main>section:nth-child(2)>div:nth-child(3){
    position: absolute;
    top: 440px;
    left: 45px;

}

body>main>section:nth-child(2)>div:nth-child(3)>img{
    margin: 20px;
}

.Paragraph{
    position: absolute;
    bottom: 120px;
    left: 45px;
    font-family: Koulen, Rockwell;
    font-size: 20px;
}



.DownloadButton{
    position: absolute;
    bottom: 40px;
    right: 30px;
    background-color: #095cec;
    color: white;
}


/*------------------------------------------ Education ------------------------------------------------------------*/
.education{
    width: 100vw;
    height: 100vh;
    position: relative;
    border: 1px solid black;
}

.educationHead{
    position: absolute;
    top: 0;
    margin: 0;
    background: black;
    color: white;
    height: 50px;
    width: 20%;
    font-family: Koulen, Rockwell;
    font-size: 30px;
    border-radius: 50px;
}
.education>.box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:1rem 0;
    padding-left: 3rem;
    padding-right: 3rem;
}

.education .box-container .box{
    width:27rem;
    margin:4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid blue;
    position: relative;
}

.education .box-container .box span{
    font-size: 1.3rem;
    background:blue;
    color:#fff;
    border-radius: 5rem;
    padding:.5rem 2.5rem;
}

.education .box-container .box h3{
    font-size: 1.5rem;
    padding-top: 1.5rem;
}

.education .box-container .box p{
    font-size: 1rem;
    font-family: Koulen, Rockwell;
    padding: 1rem 0;
}

.education .box-container .box i{
    position: absolute;
    top:-1.5rem; left:-2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    background: white;

}





/*------------------------------------------ Skills -----------------------------------------------------------------*/

.Skills{
    width: 100vw;
    height: 100vh;
    position: relative;
    border: 1px solid black;
    /*display: flex;*/

}

.SkillHead{
    position: absolute;
    top: 0;
    margin: 0;
    background: black;
    color: white;
    height: 50px;
    width: 20%;
    font-family: Koulen, Rockwell;
    font-size: 30px;
    border-radius: 50px;


}

.certificate{
    top: 20px;
    flex-shrink: 1;
}

.Skills>section:nth-child(2)>h3{
    font-family: Koulen, Rockwell;
    font-size: 30px;

}
.languages{
    position: absolute;
    width: 100%;
}

#languageHeader{
    position: absolute;
    left: 50%;
}

.languages>img{
    transform: scale(1.08);
    margin: 20px;
}

.tools{
    position: absolute;
    bottom: 35px;
    width: 100%;
}

#toolHeader{
    position: absolute;
    left: 50%;
    bottom: 130px;
}

.tools>img{
    transform: scale(1.08);
    margin: 20px;
}

.Skills>section:nth-child(3)>h3{
    font-family: Koulen, Rockwell;
    font-size: 30px;

}

/*-------------------------------------------- Projects ------------------------------------------------------------*/







/*------------------------------------------- Gallery -------------------------------------------------------------*/

.Gallery{
    position: relative;
    height: 100vh;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

#galleryHead{
    position: absolute;
    top: 0;
    margin: 0;
    background: black;
    color: white;
    height: 50px;
    width: 20%;
    font-family: Koulen, Rockwell;
    font-size: 30px;
    border-radius: 50px;
}


/*------------------------------------------- Footer ---------------------------------------------------------------*/
footer{
    position: relative;
    top: 85px;
    height: 100vh;
    border: 1px solid black;
}


#chatBox{
    width: 60vw;
    top: 20vh;
    right: 12vw;
    position: absolute;
}


form.Contact {
    padding: 20px;
    width: 50vw;
    margin: 0 auto;
    color: black;
    position: relative;
}

input#name{
    width: 40%;
    position: absolute;
}
input#email{
    width: 50%;
    left: 50%;
    position: relative;
}
/*input,*/
/*textarea {*/
/*    display: flex;*/
/*    width: 100%;*/
/*    padding: 12px;*/
/*    border: none;*/
/*    border-radius: 4px;*/
/*    margin-bottom: 10px;*/
/*    background-color: white;*/
/*    color: black;*/
/*}*/
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgb(201, 211, 214);
}
button {
    background-color: #44444C;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: blue;
    color: white;
}
.Contact>label{
    margin: 10px;
}

.Contact>input{
    margin: 10px;
}

/*------------------------------------*/
/*body {*/
/*    overflow-x: hidden;*/
/*}*/