header{
    box-shadow:4px 1px 4px 0px black;
    background-color: white;
    border: 1px solid black;
    position: relative;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;

}

header>div{
    position: absolute;
    right: 20px;
    top: 16px;
    font-family: Rockwell;
    margin: 10px;

}

footer{
    position: relative;

}

.Contact{
   position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}